<section class="ability">
  <div class="container">
    <div class="ability-inner">
      <h2 class="ability-title">capable of&nbsp;so much</h2>
      <ul class="ability-list">
        <li class="ability-item">
          <p class="ability-item-text">Ability to receive calls</p>
        </li>
        <li class="ability-item">
          <p class="ability-item-text">Rich and powerful sound</p>
        </li>
        <li class="ability-item">
          <p class="ability-item-text">Active noise cancellation option</p>
        </li>
        <li class="ability-item">
          <p class="ability-item-text">Unsurpassed microphone system</p>
        </li>
        <li class="ability-item">
          <p class="ability-item-text">Support of voice assistants</p>
        </li>
        <li class="ability-item">
          <p class="ability-item-text">
            Bose AR Augmented Reality Audio&nbsp;Platform
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
