<section class="ability">
  <div class="container">
    <div class="ability-inner">
      <h2 class="ability-title">capable of so much</h2>
      <ul class="ability-list">
        <li class="ability-item">Ability to receive calls</li>
        <li class="ability-item">Rich and powerful sound</li>
        <li class="ability-item">Active noise cancellation option</li>
        <li class="ability-item">Unsurpassed microphone system</li>
        <li class="ability-item">Support of voice assistants</li>
        <li class="ability-item">Bose AR Augmented Reality Audio Platform</li>
      </ul>
    </div>
  </div>
</section>
