<section class="design">
  <div class="container">
    <div class="design-inner">
      <div class="text-wrapper">
        <h2 class="design-title">Premium design and comfort</h2>
        <h3 class="text-title">11 levels of noise reduction</h3>
        <p class="design-text">
          With the new Bose Noise Canceling Headphone 700, you can smoothly
          increase or decrease the level of noise cancellation. You can be heard
          perfectly and you hear the interlocutor clearly, even in a noisy
          environment!
        </p>
        <h3 class="text-title">Comfort up to max level</h3>
        <p class="design-text">
          Stylish, lightweight stainless steel headband with soft, angled cups
          of headphones for comfortable seating. The inner side is made of soft
          gel lining that fits well to the head.
        </p>
      </div>

      <picture>
        <!-- desk -->
        <source
          media="(min-width: 1440px)"
          type="image/webp"
          srcset="
            ./img/desk/design-girl-desk@1x.webp 1x,
            ./img/desk/design-girl-desk@2x.webp 2x
          "
        />
        <source
          media="(min-width: 1440px)"
          type="image/png"
          srcset="
            ./img/desk/design-girl-desk@1x.png 1x,
            ./img/desk/design-girl-desk@2x.png 2x
          "
        />
        <!-- tab -->
        <source
          media="(min-width: 768px)"
          type="image/webp"
          srcset="
            ./img/tab/design-girl-tab@1x.webp 1x,
            ./img/tab/design-girl-tab@2x.webp 2x
          "
        />
        <source
          media="(min-width: 768px)"
          type="image/png"
          srcset="
            ./img/tab/design-girl-tab@1x.png 1x,
            ./img/tab/design-girl-tab@2x.png 2x
          "
        />
        <!-- mob -->
        <source
          media="(min-width: 320px)"
          type="image/webp"
          srcset="
            ./img/mob/design-girl-mob@1x.webp 1x,
            ./img/mob/design-girl-mob@2x.webp 2x
          "
        />
        <source
          media="(min-width: 320px)"
          type="image/png"
          srcset="
            ./img/mob/design-girl-mob@1x.png 1x,
            ./img/mob/design-girl-mob@2x.png 2x
          "
        />
        <img
          class="design-img"
          src="./img/mob/design-girl-mob@1x.webp"
          alt="girl with headphones"
          loading="lazy"
          type="image/webp"
          width="280"
          height="293"
        />
      </picture>
    </div>
  </div>
</section>
