<section class="footer">
  <div class="container">
    <div class="footer-inner">
      <div class="menu-container">
        <ul class="menu-list">
          <li class="menu-list-item"><a href="#">Characteristics</a></li>
          <li class="menu-list-item"><a href="#history">History</a></li>
          <li class="menu-list-item"><a href="#reviews">Reviews</a></li>
          <li class="menu-list-item"><a href="#order">Payment and delivery</a></li>
          <li class="menu-list-item"><a href="#">Store addresses</a></li>
          <li class="menu-list-item"><a href="#FAQ">FAQ</a></li>
        </ul>
      </div>

      <address class="footer-address">
        <a href="tel:+88001111111">8 (800) 111-11-11</a>
      </address>
    </div>
  </div>
</section>