<section class="footer">
  <div class="container">
    <div class="footer-inner">
      <div class="menu-container">
        <ul class="menu-list">
          <li class="menu-list-item">Characteristics</li>
          <li class="menu-list-item">History</li>
          <li class="menu-list-item">Reviews</li>
          <li class="menu-list-item">Payment and delivery</li>
          <li class="menu-list-item">Store addresses</li>
          <li class="menu-list-item">FAQ</li>
        </ul>
      </div>

      <address class="footer-address">
        <a href="tel:+88001111111">8 (800) 111-11-11</a>
      </address>
    </div>
  </div>
</section>
