<section class="guarantee">
  <div class="container">
    <div class="guarantee-inner">
      <div class="guarantee-wrapper">
        <h2 class="guarantee-title">Guarantees</h2>
        <h3 class="guarantee-subtitle">90 Day Money Back Guarantee</h3>
        <p class="guarantee-text">
          If you are not 100% satisfied with a product, you can return it back
          for a full refund.
        </p>
        <h3 class="guarantee-subtitle">1 year warranty</h3>
        <p class="guarantee-text"></p>
      </div>
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            ../img/desk/guarantee-desk@1x.webp 1x,
            ../img/desk/guarantee-desk@2x.webp 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ../img/tab/guarantee-tab@1x.webp 1x,
            ../img/tab/guarantee-tab@2x.webp 2x
          "
        />
        <source
          media="(min-width: 320px)"
          srcset="
            ../img/mob/guarantee-mob@1x.webp 1x,
            ../img/mob/guarantee-mob@2x.webp 2x
          "
        />
        <img
          src="../img/mob/guarantee-mob@1x.png"
          alt="white headphones"
          width="590"
          height="565"
        />
      </picture>
    </div>
  </div>
</section>
