<section class="guarantee">
  <div class="container">
    <div class="guarantee-inner">
      <div class="guarantee-wrapper">
        <h2 class="guarantee-title">Guarantees</h2>
        <h3 class="guarantee-subtitle">90 Day Money Back Guarantee</h3>
        <p class="guarantee-text">
          If you are not 100% satisfied with a product, you can return it back
          for a full refund.
        </p>
        <h3 class="guarantee-subtitle">1 year warranty</h3>
        <p class="guarantee-text"></p>
      </div>
      <picture>
        <!-- desk -->
        <source
          media="(min-width: 1440px)"
          type="image/webp"
          srcset="
            ./img/desk/guarantee-desk@1x.webp 1x,
            ./img/desk/guarantee-desk@2x.webp 2x
          "
        />
        <source
          media="(min-width: 1440px)"
          type="image/png"
          srcset="
            ./img/desk/guarantee-desk@1x.png 1x,
            ./img/desk/guarantee-desk@2x.png 2x
          "
        />
        <source />
        <!-- tab -->
        <source
          media="(min-width: 768px)"
          type="image/webp"
          srcset="
            ./img/tab/guarantee-tab@1x.webp 1x,
            ./img/tab/guarantee-tab@2x.webp 2x
          "
        />
        <source
          media="(min-width: 768px)"
          type="image/png"
          srcset="
            ./img/tab/guarantee-tab@1x.png 1x,
            ./img/tab/guarantee-tab@2x.png 2x
          "
        />
        <!-- mob -->
        <source
          media="(min-width: 320px)"
          type="image/webp"
          srcset="
            ./img/mob/guarantee-mob@1x.webp 1x,
            ./img/mob/guarantee-mob@2x.webp 2x
          "
        />
        <source
          media="(min-width: 320px)"
          type="image/png"
          srcset="
            ./img/mob/guarantee-mob@1x.png 1x,
            ./img/mob/guarantee-mob@2x.png 2x
          "
        />
        <img
          src="./img/mob/guarantee-mob@1x.webp"
          alt="white headphones"
          width="280"
          height="268"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
