<header>
  <div class="container">
    <div class="header-inner">
      <a href="./index.html" aria-label="Logo-Bose">
        <svg class="logo-icon" width="130" height="15.2">
          <use href="./img/icons.svg#bose-logo"></use>
        </svg>
      </a>
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-list-item">Characteristics</li>
          <li class="nav-list-item">History</li>
          <li class="nav-list-item">Reviews</li>
          <li class="nav-list-item">Payment and delivery</li>
        </ul>
      </nav>
      <button type="button" aria-label="Mobile menu">
        <svg class="menu-btn" width="22" height="11.7">
          <use href="./img/icons.svg#hamburger"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
