<header>
  <div class="container">
    <div class="header-inner">
      <a href="./index.html" class="logo-link" aria-label="Logo-Bose">
        <svg class="logo-icon" width="130" height="15.2">
          <use href="./img/icons.svg#bose-logo"></use>
        </svg>
      </a>
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-list-item"><a href="#">Characteristics"></a></li>
          <li class="nav-list-item"><a href="#">History"></a></li>
          <li class="nav-list-item"><a href="#">Reviews"></a></li>
          <li class="nav-list-item"><a href="#">Payment and delivery</a></li>
        </ul>
      </nav>
      <button type="button" class="menu-btn" aria-label="Mobile menu">
        <svg class="menu-btn-icon" width="22" height="11.7">
          <use href="./img/icons.svg#hamburger"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
