<section class="hero">
  <div class="container">
    <div class="hero-inner">
      <p class="hero-text">
        Noise cancellation headphones that are capable for a lot of things
      </p>
      <p class="hero-desk">Up to 20 hours of playback</p>
      <h1 class="hero-title">Headphones Bose NC 700</h1>
      <button type="button">order</button>
      <picture>
        <!-- desk -->
        <source
          media="(min-width: 1440px)"
          type="image/webp"
          srcset="
            ./img/desk/hero-wireless-desk@1x.webp 1x,
            ./img/desk/hero-wireless-desk@2x.webp 2x
          "
        />
        <source
          media="(min-width: 1440px)"
          type="image/png"
          srcset="
            ./img/desk/hero-wireless-desk@1x.png 1x,
            ./img/desk/hero-wireless-desk@2x.png 2x
          "
        />
        <!-- tab -->
        <source
          media="(min-width: 768px)"
          type="image/webp"
          srcset="
            ./img/tab/hero-wireless-tab@1x.webp 1x,
            ./img/tab/hero-wireless-tab@2x.webp 2x
          "
        />
        <source
          media="(min-width: 768px)"
          type="image/png"
          srcset="
            ./img/tab/hero-wireless-tab@1x.png 1x,
            ./img/tab/hero-wireless-tab@2x.png 2x
          "
        />
        <!-- mob -->
        <source
          media="(min-width: 320px)"
          type="image/webp"
          srcset="
            ./img/mob/hero-wireless-mob@1x.webp 1x,
            ./img/mob/hero-wireless-mob@2x.webp 2x
          "
        />
        <source
          media="(min-width: 320px)"
          type="image/png"
          srcset="
            ./img/mob/hero-wireless-mob@1x.png 1x,
            ./img/mob/hero-wireless-mob@2x.png 2x
          "
        />
        <img
          src="./img/mob/hero-wireless-mob@1x.webp"
          type="image/webp"
          loading="lazy"
          width="280"
          height="240"
          alt="whireless"
        />
      </picture>
    </div>
  </div>
</section>
