<div class="backdrop">
  <div class="mobile-menu">
    <div class="mob-logo-container">
      <svg class="mob-logo" width="100" height="12">
        <use href="./img/icons.svg#bose-logo"></use>
      </svg>
      <button class="close-btn" type="button">
        <svg class="close-btn-icon" width="24" height="24">
          <use href="./img/icons.svg#close-btn"></use>
        </svg>
      </button>
    </div>
    <ul class="mob-menu-list">
      <li class="mob-menu-item">
        <a class="mob-menu-link" href="#">Characteristics</a>
      </li>
      <li class="mob-menu-item">
        <a class="mob-menu-link" href="#history">History</a>
      </li>
      <li class="mob-menu-item">
        <a class="mob-menu-link" href="#reviews">Reviews</a>
      </li>
      <li class="mob-menu-item">
        <a class="mob-menu-link" href="#">Payment and delivery</a>
      </li>
    </ul>
  </div>
</div>
