<section class="order">
  <div class="container">
    <div class="order-inner">
      <h2 class="order-title">bose nc 700</h2>
      <picture>
        <!-- desk -->
        <source
          media="(min-width: 1440px)"
          type="image/webp"
          srcset="
            ./img/desk/order-1-desk@1x.webp 1x,
            ./img/desk/order-1-desk@2x.webp 2x
          "
        />
        <source
          media="(min-width: 1440px)"
          type="image/png"
          srcset="
            ./img/desk/order-1-desk@1x.png 1x,
            ./img/desk/order-1-desk@2x.png 2x
          "
        />
        <!-- tab -->
        <source
          media="(min-width: 768px)"
          type="image/webp"
          srcset="
            ./img/tab/order-1-tab@1x.webp 1x,
            ./img/tab/order-1-tab@2x.webp 2x
          "
        />
        <source
          media="(min-width: 768px)"
          type="image/png"
          srcset="
            ./img/tab/order-1-tab@1x.png 1x,
            ./img/tab/order-1-tab@2x.png 2x
          "
        />
        <!-- mob -->
        <source
          media="(max-width: 320px)"
          type="image/webp"
          srcset="
            ./img/mob/order-mob@1x.webp 1x,
            ./img/mob/order-mob@2x.webp 2x
          "
        />
        <source
          media="(max-width: 320px)"
          type="image/png"
          srcset="./img/mob/order-mob@1x.png 1x, ./img/mob/order-mob@2x.png 2x"
        />
        <img
          class="order-img-black"
          src="./img/mob/order-mob@1x.webp"
          width="280"
          height="265"
          loading="lazy"
          type="image/webp"
          alt="headphones"
        />
      </picture>
      <picture>
        <!-- desk -->
        <source
          media=" (min-width: 1440px)"
          type="image/webp"
          srcset="
            ./img/desk/order-2-desk@1x.webp 1x,
            ./img/desk/order-2-desk@2x.webp 2x
          "
        />
        <source
          media=" (min-width: 1440px)"
          type="image/png"
          srcset="
            ./img/desk/order-2-desk@1x.png 1x,
            ./img/desk/order-2-desk@2x.png 2x
          "
        />
        <!-- tab -->
        <source
          media=" (min-width: 768px)"
          type="image/webp"
          srcset="
            ./img/tab/order-2-tab@1x.webp 1x,
            ./img/tab/order-2-tab@2x.webp 2x
          "
        />
        <source
          media=" (min-width: 768px)"
          type="image/png"
          srcset="
            ./img/tab/order-2-tab@1x.png 1x,
            ./img/tab/order-2-tab@2x.png 2x
          "
        />
        <!-- mob -->
        <source
          media=" (max-width: 320px)"
          type="image/webp"
          srcset="
            ./img/mob/order-2-mob@1x.webp 1x,
            ./img/mob/order-2-mob@2x.webp 2x
          "
        />
        <source
          media=" (max-width: 320px)"
          type="image/png"
          srcset="
            ./img/mob/order-2-mob@1x.png 1x,
            ./img/mob/order-2-mob@2x.png 2x
          "
        />
        <img
          class="order-img-white"
          src="./img/mob/order-2-mob@1x.webp"
          width="280"
          height="265"
          loading="lazy"
          type="image/webp"
          alt="headphones"
        />
      </picture>

      <ul class="order-list">
        <div class="order-list-item-wrapper">
          <li class="order-list-item">
            <div class="btn-container">
              <button
                aria-label="change color of headphones"
                type="button"
                class="order-btn-colorpic"
              >
                <svg class="order-icon" width="44" height="44">
                  <use href="./img/icons.svg#circle-black"></use>
                </svg>
              </button>
              <button
                aria-label="change color of headphones"
                type="button"
                class="order-btn-colorpic"
              >
                <svg class="order-icon" width="44" height="44">
                  <use href="./img/icons.svg#circle-white"></use>
                </svg>
              </button>
            </div>
          </li>
          <span class="order-list-line"></span>
        </div>
        <div class="order-list-item-wrapper">
          <li class="order-list-item">
            <p class="order-list-text">Availability in stores</p>
            <button
              aria-label="modal window"
              class="order-btn-modal"
              type="button"
            >
              <svg class="order-list-icon" width="20" height="20">
                <use href="./img/icons.svg#arrow"></use>
              </svg>
            </button>
          </li>
          <span class="order-list-line"></span>
        </div>
        <div class="order-list-item-wrapper">
          <li class="order-list-item">
            <p class="order-list-text">Characteristics</p>
            <a href="#" class="order-list-link"
              ><svg class="order-list-icon" width="20" height="20">
                <use href="./img/icons.svg#arrow"></use>
              </svg>
            </a>
          </li>
          <span class="order-list-line"></span>
        </div>
        <div class="order-list-item-wrapper">
          <li class="order-list-item">
            <p class="order-list-text">Payment and delivery methods</p>
            <button
              aria-label="modal window"
              class="order-btn-modal"
              type="button"
            >
              <svg class="order-list-icon" width="20" height="20">
                <use href="./img/icons.svg#arrow"></use>
              </svg>
            </button>
          </li>
          <span class="order-list-line"></span>
        </div>
      </ul>
      <p class="order-text">14 999 UAH</p>
      <button class="order-btn" type="button">order</button>
    </div>
  </div>
</section>
