<section class="reviews" id="reviews">
  <div class="container">
    <div class="slider-container">
      <div class="reviews-inner" id="slider1">
        <h2 class="reviews-title">reviews</h2>
        <div class="img-container">
          <picture>
            <!-- desk -->
            <source media="(min-width: 1440px)" type="image/webp" srcset="
                ./img/desk/reviews-1-desk@1x.webp 1x,
                ./img/desk/reviews-1-desk@2x.webp 2x
              " />
            <source media="(min-width: 1440px)" type="image/png" srcset="
                ./img/desk/reviews-1-desk@1x.png 1x,
                ./img/desk/reviews-1-desk@2x.png 2x
              " />
            <!-- tab -->
            <source media="(min-width: 768px)" type="image/webp" srcset="
                ./img/tab/reviews-1-tab@1x.webp 1x,
                ./img/tab/reviews-1-tab@2x.webp 2x
              " />
            <source media="(min-width: 768px)" type="image/png" srcset="
                ./img/tab/reviews-1-tab@1x.png 1x,
                ./img/tab/reviews-1-tab@2x.png 2x
              " />
            <!-- mob -->
            <source media="(min-width: 320px)" type="image/webp" srcset="
                ./img/mob/reviews-1-mob@1x.webp 1x,
                ./img/mob/reviews-1-mob@2x.webp 2x
              " />
            <source media="(min-width: 320px)" type="image/png" srcset="
                ./img/mob/reviews-1-mob@1x.png 1x,
                ./img/mob/reviews-1-mob@2x.png 2x
              " />
            <img class="reviews-img" src="./img/mob/reviews-1-mob.webp" type="image/webp" width="280" height="180"
              alt="Button Image" />
          </picture>
          <svg id="playButton1" class="video-btn" width="50" height="50">
            <use href="./img/icons.svg#play-youtube"></use>
          </svg>
        </div>
        <h3 class="reviews-subtitle">Bose Corporation</h3>
        <p class="reviews-text">
          Critically acclaimed for their powerful noise cancelling, astonishing
          sound, and unrivaled voice pickup, Bose Noise Cancelling Headphones
          700 help turn any space into the perfect place to listen to music, get
          work done, or just shut out the world for a few moments and relax
        </p>
      </div>
      <div class="reviews-inner" id="slider2">
        <h2 class="reviews-title">reviews</h2>
        <div class="img-container">
          <picture>
            <!-- desk -->
            <source media="(min-width: 1440px)" type="image/webp" srcset="
                ./img/desk/reviews-2-desk@1x.webp 1x,
                ./img/desk/reviews-2-desk@2x.webp 2x
              " />
            <source media="(min-width: 1440px)" type="image/png" srcset="
                ./img/desk/reviews-2-desk@1x.png 1x,
                ./img/desk/reviews-2-desk@2x.png 2x
              " />
            <!-- tab -->
            <source media="(min-width: 768px)" type="image/webp" srcset="
                ./img/tab/reviews-2-tab@1x.webp 1x,
                ./img/tab/reviews-2-tab@2x.webp 2x
              " />
            <source media="(min-width: 768px)" type="image/png" srcset="
                ./img/tab/reviews-2-tab@1x.png 1x,
                ./img/tab/reviews-2-tab@2x.png 2x
              " />
            <!-- mob -->
            <source media="(min-width: 320px)" type="image/webp" srcset="
                ./img/mob/reviews-2-mob@1x.webp 1x,
                ./img/mob/reviews-2-mob@2x.webp 2x
              " />
            <source media="(min-width: 320px)" type="image/png" srcset="
                ./img/mob/reviews-2-mob@1x.png 1x,
                ./img/mob/reviews-2-mob@2x.png 2x
              " />
            <img class="reviews-img" src="./img/mob/reviews-2-mob.webp" type="image/webp" width="280" height="180"
              alt="Button Image" />
          </picture>
          <svg id="playButton2" class="video-btn" width="50" height="50">
            <use href="./img/icons.svg#play-youtube"></use>
          </svg>
        </div>
        <h3 class="reviews-subtitle">Bose Corporation</h3>
        <p class="reviews-text">
          Bose Noise Cancelling Headphones 700 deliver everything you expect —
          and things you never imagined possible. The perfect balance of quiet,
          comfort, and sound
        </p>
      </div>
      <div class="reviews-inner" id="slider3">
        <h2 class="reviews-title">reviews</h2>
        <div class="img-container">
          <picture>
            <!-- desk -->
            <source media="(min-width: 1440px)" type="image/webp" srcset="
                ./img/desk/reviews-3-desk@1x.webp 1x,
                ./img/desk/reviews-3-desk@2x.webp 2x
              " />
            <source media="(min-width: 1440px)" type="image/png" srcset="
                ./img/desk/reviews-3-desk@1x.png 1x,
                ./img/desk/reviews-3-desk@2x.png 2x
              " />
            <!-- tab -->
            <source media="(min-width: 768px)" type="image/webp" srcset="
                ./img/tab/reviews-3-tab@1x.webp 1x,
                ./img/tab/reviews-3-tab@2x.webp 2x
              " />
            <source media="(min-width: 768px)" type="image/png" srcset="
                ./img/tab/reviews-3-tab@1x.png 1x,
                ./img/tab/reviews-3-tab@2x.png 2x
              " />
            <!-- mob -->
            <source media="(min-width: 320px)" type="image/webp" srcset="
                ./img/mob/reviews-3-mob@1x.webp 1x,
                ./img/mob/reviews-3-mob@2x.webp 2x
              " />
            <source media="(min-width: 320px)" type="image/png" srcset="
                ./img/mob/reviews-3-mob@1x.png 1x,
                ./img/mob/reviews-3-mob@2x.png 2x
              " />
            <img class="reviews-img" src="./img/mob/reviews-3-mob.webp" type="image/webp" width="280" height="180"
              alt="Button Image" />
          </picture>
          <svg id="playButton3" class="video-btn" width="50" height="50">
            <use href="./img/icons.svg#play-youtube"></use>
          </svg>
        </div>
        <h3 class="reviews-subtitle">Bose Corporation</h3>
        <p class="reviews-text">
          Real stories of people tuning in or out to feel peace, find escape,
          and for self-care
        </p>
      </div>
    </div>

    <ul class="paginator-list">
      <li class="paginator-item">
        <button class="paginator-item-button" id="paginatorButton1" type="button" onclick="currentSlide(1)">
          01
        </button>
      </li>
      <li class="paginator-item">
        <button class="paginator-item-button is-active" id="paginatorButton2" type="button" onclick="currentSlide(2)">
          02
        </button>
      </li>
      <li class="paginator-item">
        <button class="paginator-item-button" id="paginatorButton3" type="button" onclick="currentSlide(3)">
          03
        </button>
      </li>
      <li class="paginator-item">
        <button class="paginator-item-button" id="paginatorButton4" type="button" onclick="currentSlide(4)">
          04
        </button>
      </li>
    </ul>

    <div id="videoModal1" class="video-modal">
      <div class="modal-content">
        <span class="close" onclick="closeModal('videoModal1')">&times;</span>
        <iframe id="videoFrame1" width="560" height="315" src="https://www.youtube.com/embed/VqP11Ma_2Fk"
          frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div id="videoModal2" class="video-modal">
      <div class="modal-content">
        <span class="close" onclick="closeModal('videoModal2')">&times;</span>
        <iframe id="videoFrame2" width="560" height="315" src="https://www.youtube.com/embed/BUyLpf-u97Y"
          frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div id="videoModal3" class="video-modal">
      <div class="modal-content">
        <span class="close" onclick="closeModal('videoModal3')">&times;</span>
        <iframe id="videoFrame3" width="560" height="315" src="https://www.youtube.com/embed/NgtznBDFRUo"
          frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>