<section class="sound">
  <div class="container">
    <div class="sound-inner">
      <h2 class="sound-title">The luxury of silence</h2>
      <picture>
        <!-- desk -->
        <source
          media="(min-width: 1440px)"
          type="image/webp"
          srcset="
            ./img/desk/sound-desk@1x.webp 1x,
            ./img/desk/sound-desk@2x.webp 2x
          "
        />
        <source
          media="(min-width: 1440px)"
          type="image/png"
          srcset="
            ./img/desk/sound-desk@1x.png 1x,
            ./img/desk/sound-desk@2x.png 2x
          "
        />
        <!-- tab -->
        <source
          media="(min-width: 768px)"
          type="image/webp"
          srcset="
            ./img/tab/sound-tab@1x.webp 1x,
            ./img/tab/sound-tab@2x.webp 2x
          "
        />
        <source
          media="(min-width: 768px)"
          type="image/png"
          srcset="./img/tab/sound-tab@1x.png 1x, ./img/tab/sound-tab@2x.png 2x"
        />
        <!-- mob -->
        <source
          media="(min-width: 320px)"
          type="image/webp"
          srcset="
            ./img/mob/sound-mob@1x.webp 1x,
            ./img/mob/sound-mob@2x.webp 2x
          "
        />
        <source
          media="(min-width: 320px)"
          type="image/png"
          srcset="./img/mob/sound-mob@1x.png 1x, ./img/mob/sound-mob@2x.png 2x"
        />
        <img
          src="./img/mob/sound-mob@1x.webp"
          alt="sun with headphones"
          type="image/webp"
          width="280"
          height="293"
          loading="lazy"
        />
      </picture>
      <div class="desc-wrapper">
        <h3 class="sound-title">Maximum enjoyment</h3>
        <p class="sound-text">
          In order to create a comfortable atmosphere - raise the level by level
          from the "transparent" mode to the maximum blocking of sounds. The
          conversation mode can be activated in one click using a special
          button.
        </p>
        <h3 class="sound-title">Crystal sound</h3>
        <p class="sound-text">
          The speaker system and brand name active equalizer are able to provide
          high-quality and powerful sound at any volume level. You can be sure
          of no distortion and crystal clear at high and low frequencies.
        </p>
      </div>
    </div>
  </div>
</section>
