<section class="sound">
  <div class="container">
    <div class="sound-inner">
      <h2 class="sound-title">The luxury of silence</h2>
      <picture>
        <!-- desk -->
        <source
          media="(min-width: 1440px)"
          type="image/webp"
          srcset="
            ./img/desk/sound-desk@1x.webp 1x,
            ./img/desk/sound-desk@2x.webp 2x
          "
        />
        <source
          media="(min-width: 1440px)"
          type="image/png"
          srcset="
            ./img/desk/sound-desk@1x.png 1x,
            ./img/desk/sound-desk@2x.png 2x
          "
        />
        <!-- tab -->
        <source
          media="(min-width: 768px)"
          type="image/webp"
          srcset="
            ./img/tab/sound-tab@1x.webp 1x,
            ./img/tab/sound-tab@2x.webp 2x
          "
        />
        <source
          media="(min-width: 768px)"
          type="image/png"
          srcset="./img/tab/sound-tab@1x.png 1x, ./img/tab/sound-tab@2x.png 2x"
        />
        <!-- mob -->
        <source
          media="(min-width: 320px)"
          type="image/webp"
          srcset="
            ./img/mob/sound-mob@1x.webp 1x,
            ./img/mob/sound-mob@2x.webp 2x
          "
        />
        <source
          media="(min-width: 320px)"
          type="image/png"
          srcset="./img/mob/sound-mob@1x.png 1x, ./img/mob/sound-mob@2x.png 2x"
        />
        <img
          class="sound-img"
          src="./img/mob/sound-mob@1x.webp"
          alt="sun with headphones"
          type="image/webp"
          width="280"
          height="293"
          loading="lazy"
        />
      </picture>
      <div class="desc-wrapper">
        <div class="sound-text-box">
          <h3 class="sound-subtitle">Maximum enjoyment</h3>
          <p class="sound-text">
            In order to create a comfortable atmosphere - raise the&nbsp;level
            by level from the "transparent" mode to the maximum blocking of
            sounds. The conversation mode can be activated in&nbsp;one click
            using a&nbsp;special button.
          </p>
        </div>
        <div class="sound-text-box">
          <h3 class="sound-subtitle">Crystal sound</h3>
          <p class="sound-text">
            The speaker system and brand name active equalizer are able to
            provide high-quality and powerful sound at any volume level. You can
            be sure of no distortion and crystal clear at high and&nbsp;low
            frequencies.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
