<section class="technology">
  <div class="container">
    <div class="technology-inner">
      <div class="technology-wrapper">
        <h2 class="technology-title">Bose AR</h2>
        <h3 class="technology-subtitle">Brand name technology</h3>
        <p class="technology-text">
          Bose AR is a unique audio platform augmented reality, that opens
          before you new facets of sound. It allows you to stay connected to the
          real world and immerse yourself in the virtual universe at the same
          time.
        </p>
      </div>
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            ../img/desk/technology-desk@1x.webp 1x,
            ../img/desk/technology-desk@2x.webp 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ../img/tab/technology-tab@1x.webp 1x,
            ../img/tab/technology-tab@2x.webp 2x
          "
        />
        <source
          media="(min-width: 320px)"
          srcset="
            ../img/mob/technology-mob@1x.webp 1x,
            ../img/mob/technology-mob@2x.webp 2x
          "
        />

        <img
          src="../img/mob/technology-mob@1x.png"
          alt="girl with headphones and coffe"
        />
      </picture>
    </div>
  </div>
</section>
