<section class="technology">
  <div class="container">
    <div class="technology-inner">
      <div class="technology-wrapper">
        <h2 class="technology-title">Bose AR</h2>
        <h3 class="technology-subtitle">Brand name technology</h3>
        <p class="technology-text">
          Bose AR is a unique audio platform augmented reality, that opens
          before you new facets of sound. It allows you to&nbsp;stay connected
          to the real world and immerse yourself in the virtual universe
          at&nbsp;the same time.
        </p>
      </div>
      <picture>
        <!-- desk -->
        <source
          media="(min-width: 1440px)"
          type="image/webp"
          srcset="
            ./img/desk/technology-desk@1x.webp 1x,
            ./img/desk/technology-desk@2x.webp 2x
          "
        />
        <source
          media="(min-width: 1440px)"
          type="image/png"
          srcset="
            ./img/desk/technology-desk@1x.png 1x,
            ./img/desk/technology-desk@2x.png 2x
          "
        />
        <!-- tab -->
        <source
          media="(min-width: 768px)"
          type="image/webp"
          srcset="
            ./img/tab/technology-tab@1x.webp 1x,
            ./img/tab/technology-tab@2x.webp 2x
          "
        />
        <source
          media="(min-width: 768px)"
          type="image/png"
          srcset="
            ./img/tab/technology-tab@1x.png 1x,
            ./img/tab/technology-tab@2x.png 2x
          "
        />
        <!-- mob -->
        <source
          media="(min-width: 320px)"
          type="image/webp"
          srcset="
            ./img/mob/technology-mob@1x.webp 1x,
            ./img/mob/technology-mob@2x.webp 2x
          "
        />
        <source
          media="(min-width: 320px)"
          type="image/png"
          srcset="
            ./img/mob/technology-mob@1x.png 1x,
            ./img/mob/technology-mob@2x.png 2x
          "
        />

        <img
          class="technology-img"
          src="./img/mob/technology-mob@1x.webp"
          type="image/webp"
          alt="girl with headphones and coffe"
          loading="lazy"
          width="280"
          height="253"
        />
      </picture>
    </div>
  </div>
</section>
