html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Gilroy', sans-serif;
  background: #191919;
  color: rgba(255, 255, 255, 0.8);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 60px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 80px;
  }
}

:root {
  --background: #fefefe;
  --text: #4b507a;
  --cyan: #60daaa;
  --yellow: #fbca67;
  --orange: #ff8a30;
  --red: #f45e61;
  --purple: #6477b9;
  --blue: #0eb7da;
}
